@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100svh;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  height: 100svh;
}

h1 {
  font-family: "Playwrite US Trad", cursive;
  font-weight: 500;
  font-size: 2.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p a {
  color: #3b82f6
}


.select {
  height: 2rem;
  width: 5rem;
  min-height: 2rem;
  font-size: 0.8rem;
}
.label-text {
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .select {
    height: 3rem;
    width: auto;
    min-height: 3rem;
    font-size: 0.875rem;
  }
  .select-sm {
    height: 2rem;
    min-height: 2rem;
    font-size: 1.1rem;
  }
  .label-text {
    font-size: 1.25rem;
  } 

}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}